#                                           EDA_SHARK_TANK_INDIA

In [ ]:
''' Q1. Find the number of episodes?
Q2. Max, min , mean of asked amount,asked equity, asked valuation? 
Q3. Max & Min asked- equity,asked-valuation and asked amount episode-wise? 
Q4. Brand names in which 2 ,3 or 4 sharks are invested? 
Q5. Episode wise minimum and maximum of sharks invested? 
Q6. Minimum and Maximum sharks invested in each episode?
Q7. Brand names who ask for 1 crore and got a deal? 
Q8. Brand names where deal equity is between 0 to 50? 
Q9. Find the number of brands participated in each episode? 
Q10. How many sharks participated in this show and What were their names? 
Q11. Find appearance of each sharks? 
Q12. How many entrepreneurs were present? 
Q13. How many times each shark invested the deal? 
Q14. Find the equity percent that each sharks gets? 
Q15. Find the total number of amount invested in this show? '''

In [1]:
import numpy as np
import pandas as pd
import statistics as stat
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pwd

'C:\\Users\\Avinash'

In [3]:
shark_Tank_Dataset=pd.read_excel("C:\\Users\\Avinash\\Downloads\\04_EDA_Shark_Tank-20230531T031125Z-001/04_EDA_Shark_Tank\EDA_Shark_Tank_India.xlsx")
shark_Tank_Dataset

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,60.0,2.0,3000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
113,34,114,On2Cook,Fastest Cooking Device,0,100.0,1.0,10000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
114,35,115,Jain Shikanji,Lemonade,1,40.0,8.0,500.00,40.0,30.00,...,1,1,1,0,1,0,0,4,10.0,7.500000
115,35,116,Woloo,Washroom Finder,0,50.0,4.0,1250.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.5,4000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

# Q1. Find the number of episodes?

In [12]:
data=shark_Tank_Dataset["episode_number"].unique()

len(data)

35

# Q2. Max, min , mean of asked amount,asked equity, asked valuation?

In [14]:
shark_Tank_Dataset[["pitcher_ask_amount","ask_equity","ask_valuation"]].describe()

       pitcher_ask_amount  ask_equity  ask_valuation
count          117.000000  117.000000     117.000000
mean           319.854709    5.188034    3852.462479
std           2767.842777    3.892121   11931.601957
min              0.001010    0.250000       0.010000
25%             45.000000    2.500000     666.670000
50%             50.000000    5.000000    1250.000000
75%             80.000000    7.500000    2857.140000
max          30000.000000   25.000000  120000.000000

# Q3. Max & Min asked- equity,asked-valuation and asked amount episode-wise?

In [31]:
shark_Tank_Dataset[["pitcher_ask_amount","ask_equity","ask_valuation"]].groupby(shark_Tank_Dataset["episode_number"]).min()

                pitcher_ask_amount  ask_equity  ask_valuation
episode_number
1                         25.00000        5.00         250.00
2                         50.00000        1.00        1000.00
3                         50.00000        0.25        1875.00
4                         50.00000        4.00         500.00
5                         10.00000        1.00          50.00
6                         45.00000        1.00         500.00
7                         50.00000        1.00         666.67
8                         30.00000        2.50         746.67
9                         50.00000        2.50        1000.00
10                        25.00000        2.00         500.00
11                        30.00000        5.00         300.00
12                        40.00000        3.00         800.00
13                        30.00000        2.00         500.00
14                        45.00000        3.00         900.00
15                         5.00000        3.00         100.00
16                        45.00000        2.00        1071.43
17                        50.00000        3.00         500.00
18                        50.00000        1.00        1250.00
19                        15.00000        1.25         300.00
20                        35.00000        2.00         700.00
21                        35.00000        5.00         470.00
22                        50.00000        2.00        1500.00
23                        30.00000        1.00         600.00
24                        20.00000        8.00         200.00
25                        50.00000        2.00        1250.00
26                        50.00000        1.00         500.00
27                         0.00101        1.00           0.01
28                        50.00000        4.00        1000.00
29                        75.00000        3.00        1500.00
30                        50.00000        1.00         500.00
31                        50.00000        2.00         500.00
32                        35.00000        1.00         583.33
33                        35.00000        1.00         400.00
34                        30.00000        1.00         400.00
35                        40.00000        2.50         500.00

In [32]:
shark_Tank_Dataset[["pitcher_ask_amount","ask_equity","ask_valuation"]].groupby(shark_Tank_Dataset["episode_number"]).max()

                pitcher_ask_amount  ask_equity  ask_valuation
episode_number
1                             50.0        15.0        1000.00
2                             70.0         5.0        7000.00
3                            100.0         4.0       40000.00
4                             75.0        10.0        1875.00
5                            100.0        20.0       10000.00
6                            100.0        10.0       10000.00
7                            100.0         7.5        7500.00
8                             56.0         7.5        2000.00
9                            100.0         5.0        2000.00
10                            30.0         5.0        1500.00
11                         30000.0        25.0      120000.00
12                            75.0         5.0        1875.00
13                            50.0        10.0        2500.00
14                           100.0         5.0        3333.33
15                            50.0         5.0        1250.00
16                            80.0         7.0        2250.00
17                           150.0        10.0        5000.00
18                           100.0         4.0       10000.00
19                           125.0         8.0       10000.00
20                            65.0         5.0        3250.00
21                           100.0        10.0        1250.00
22                            80.0         5.0        3000.00
23                           100.0         5.0       10000.00
24                            40.0        10.0         500.00
25                           150.0         4.0        7500.00
26                            65.0        10.0        6500.00
27                           100.0        10.0       10000.00
28                            90.0         5.0        1875.00
29                           100.0         5.0        2857.14
30                           300.0        15.0       30000.00
31                            75.0        10.0        3750.00
32                           200.0         7.0        5000.00
33                            40.0        10.0        3500.00
34                           100.0        10.0       10000.00
35                           100.0         8.0        4000.00

In [33]:
shark_Tank_Dataset[["pitcher_ask_amount","ask_equity","ask_valuation"]].groupby(shark_Tank_Dataset["episode_number"]).describe()

               pitcher_ask_amount                                        \
                            count          mean           std       min
episode_number
1                             3.0     38.333333     12.583057  25.00000
2                             3.0     56.666667     11.547005  50.00000
3                             3.0     75.000000     25.000000  50.00000
4                             3.0     58.333333     14.433757  50.00000
5                             3.0     53.333333     45.092498  10.00000
6                             3.0     65.000000     30.413813  45.00000
7                             3.0     75.000000     25.000000  50.00000
8                             3.0     45.333333     13.613719  30.00000
9                             3.0     66.666667     28.867513  50.00000
10                            3.0     28.333333      2.886751  25.00000
11                            3.0  10026.666667  17297.416956  30.00000
12                            3.0     51.666667     20.207259  40.00000
13                            3.0     43.333333     11.547005  30.00000
14                            3.0     81.666667     31.754265  45.00000
15                            3.0     28.333333     22.546249   5.00000
16                            4.0     68.750000     16.007811  45.00000
17                            4.0     82.500000     47.169906  50.00000
18                            4.0     72.500000     26.299556  50.00000
19                            4.0     77.500000     53.928966  15.00000
20                            3.0     50.000000     15.000000  35.00000
21                            3.0     60.666667     34.588052  35.00000
22                            4.0     66.250000     13.768926  50.00000
23                            4.0     76.250000     33.008837  30.00000
24                            3.0     30.000000     10.000000  20.00000
25                            3.0    100.000000     50.000000  50.00000
26                            3.0     55.000000      8.660254  50.00000
27                            4.0     52.500253     41.129446   0.00101
28                            3.0     71.666667     20.207259  50.00000
29                            3.0     83.333333     14.433757  75.00000
30                            4.0    126.250000    116.574368  50.00000
31                            4.0     65.000000     12.247449  50.00000
32                            4.0     91.250000     74.874896  35.00000
33                            4.0     38.750000      2.500000  35.00000
34                            4.0     57.500000     30.956959  30.00000
35                            3.0     63.333333     32.145503  40.00000

                                                    ask_equity             \
                      25%    50%       75%      max      count       mean
episode_number
1               32.500000   40.0     45.00     50.0        3.0  10.000000
2               50.000000   50.0     60.00     70.0        3.0   3.666667
3               62.500000   75.0     87.50    100.0        3.0   2.083333
4               50.000000   50.0     62.50     75.0        3.0   7.166667
5               30.000000   50.0     75.00    100.0        3.0   8.666667
6               47.500000   50.0     75.00    100.0        3.0   5.333333
7               62.500000   75.0     87.50    100.0        3.0   3.500000
8               40.000000   50.0     53.00     56.0        3.0   4.333333
9               50.000000   50.0     75.00    100.0        3.0   4.166667
10              27.500000   30.0     30.00     30.0        3.0   4.000000
11              40.000000   50.0  15025.00  30000.0        3.0  13.333333
12              40.000000   40.0     57.50     75.0        3.0   4.000000
13              40.000000   50.0     50.00     50.0        3.0   5.666667
14              72.500000  100.0    100.00    100.0        3.0   3.666667
15              17.500000   30.0     40.00     50.0        3.0   4.000000
16              67.500000   75.0     76.25     80.0        4.0   4.250000
17              50.000000   65.0     97.50    150.0        4.0   7.000000
18              50.000000   70.0     92.50    100.0        4.0   2.625000
19              41.250000   85.0    121.25    125.0        4.0   4.812500
20              42.500000   50.0     57.50     65.0        3.0   3.000000
21              41.000000   47.0     73.50    100.0        3.0   7.666667
22              57.500000   67.5     76.25     80.0        4.0   3.500000
23              63.750000   87.5    100.00    100.0        4.0   4.000000
24              25.000000   30.0     35.00     40.0        3.0   9.333333
25              75.000000  100.0    125.00    150.0        3.0   2.666667
26              50.000000   50.0     57.50     65.0        3.0   6.333333
27              37.500253   55.0     70.00    100.0        4.0   6.500000
28              62.500000   75.0     82.50     90.0        3.0   4.666667
29              75.000000   75.0     87.50    100.0        3.0   3.833333
30              68.750000   77.5    135.00    300.0        4.0   6.125000
31              57.500000   67.5     75.00     75.0        4.0   4.375000
32              46.250000   65.0    110.00    200.0        4.0   4.500000
33              38.750000   40.0     40.00     40.0        4.0   4.500000
34              37.500000   50.0     70.00    100.0        4.0   5.125000
35              45.000000   50.0     75.00    100.0        3.0   4.833333

                ...               ask_valuation                              \
                ...     75%   max         count          mean           std
episode_number  ...
1               ...  12.500  15.0           3.0    505.556667    428.281601
2               ...   5.000   5.0           3.0   3000.000000   3464.101615
3               ...   3.000   4.0           3.0  14791.666667  21833.293575
4               ...   8.750  10.0           3.0   1013.890000    750.384932
5               ...  12.500  20.0           3.0   3683.333333   5490.977448
6               ...   7.500  10.0           3.0   3800.000000   5373.081053
7               ...   4.750   7.5           3.0   4388.890000   3457.411068
8               ...   5.250   7.5           3.0   1248.890000    662.698043
9               ...   5.000   5.0           3.0   1666.666667    577.350269
10              ...   5.000   5.0           3.0    866.666667    550.757055
11              ...  17.500  25.0           3.0  40433.333333  68907.643504
12              ...   4.500   5.0           3.0   1336.110000    537.505392
13              ...   7.500  10.0           3.0   1200.000000   1126.942767
14              ...   4.000   5.0           3.0   2522.220000   1404.883731
15              ...   4.500   5.0           3.0    783.333333    604.841577
16              ...   4.750   7.0           4.0   1799.107500    509.554073
17              ...  10.000  10.0           4.0   1825.000000   2126.617032
18              ...   3.250   4.0           4.0   4062.500000   4022.721923
19              ...   5.750   8.0           4.0   3200.000000   4559.970760
20              ...   3.500   5.0           3.0   2150.000000   1310.534242
21              ...   9.000  10.0           3.0    806.666667    400.790885
22              ...   5.000   5.0           4.0   2150.000000    723.417814
23              ...   5.000   5.0           4.0   3525.000000   4355.360682
24              ...  10.000  10.0           3.0    333.333333    152.752523
25              ...   3.000   4.0           3.0   4583.333333   3145.764348
26              ...   9.000  10.0           3.0   2541.666667   3428.586930
27              ...  10.000  10.0           4.0   2925.002500   4742.272363
28              ...   5.000   5.0           3.0   1558.333333    484.982818
29              ...   4.250   5.0           3.0   2285.713333    703.488683
30              ...   9.375  15.0           4.0   9791.667500  13918.661803
31              ...   4.750  10.0           4.0   2287.500000   1340.631070
32              ...   6.250   7.0           4.0   2931.547500   2399.341569
33              ...   6.250  10.0           4.0   1675.000000   1393.735986
34              ...   8.125  10.0           4.0   3450.000000   4535.416188
35              ...   6.000   8.0           3.0   1916.666667   1842.778699


                    min        25%       50%        75%        max
episode_number
1                250.00   258.3350   266.670    633.335    1000.00
2               1000.00  1000.0000  1000.000   4000.000    7000.00
3               1875.00  2187.5000  2500.000  21250.000   40000.00
4                500.00   583.3350   666.670   1270.835    1875.00
5                 50.00   525.0000  1000.000   5500.000   10000.00
6                500.00   700.0000   900.000   5450.000   10000.00
7                666.67  2833.3350  5000.000   6250.000    7500.00
8                746.67   873.3350  1000.000   1500.000    2000.00
9               1000.00  1500.0000  2000.000   2000.000    2000.00
10               500.00   550.0000   600.000   1050.000    1500.00
11               300.00   650.0000  1000.000  60500.000  120000.00
12               800.00  1066.6650  1333.330   1604.165    1875.00
13               500.00   550.0000   600.000   1550.000    2500.00
14               900.00  2116.6650  3333.330   3333.330    3333.33
15               100.00   550.0000  1000.000   1125.000    1250.00
16              1071.43  1674.1075  1937.500   2062.500    2250.00
17               500.00   725.0000   900.000   2000.000    5000.00
18              1250.00  1812.5000  2500.000   4750.000   10000.00
19               300.00   825.0000  1250.000   3625.000   10000.00
20               700.00  1600.0000  2500.000   2875.000    3250.00
21               470.00   585.0000   700.000    975.000    1250.00
22              1500.00  1575.0000  2050.000   2625.000    3000.00
23               600.00  1275.0000  1750.000   4000.000   10000.00
24               200.00   250.0000   300.000    400.000     500.00
25              1250.00  3125.0000  5000.000   6250.000    7500.00
26               500.00   562.5000   625.000   3562.500    6500.00
27                 0.01   375.0025   850.000   3400.000   10000.00
28              1000.00  1400.0000  1800.000   1837.500    1875.00
29              1500.00  2000.0000  2500.000   2678.570    2857.14
30               500.00   625.0025  4333.335  13500.000   30000.00
31               500.00  1925.0000  2450.000   2812.500    3750.00
32               583.33  1002.9775  3071.430   5000.000    5000.00
33               400.00   700.0000  1400.000   2375.000    3500.00
34               400.00   400.0000  1700.000   4750.000   10000.00
35               500.00   875.0000  1250.000   2625.000    4000.00

[35 rows x 24 columns]

# Q4. Brand names in which 2 ,3 or 4 sharks are invested?

In [4]:
shark_Tank_Dataset[["brand_name","total_sharks_invested"]][(shark_Tank_Dataset["total_sharks_invested"]>=2) & (shark_Tank_Dataset["total_sharks_invested"]<=4 )]

                         brand_name  total_sharks_invested
0               BluePine Industries                      3
1                     Booz scooters                      2
2               Heart up my Sleeves                      2
9                             Cosiq                      2
11                           Bummer                      2
12                      Revamp Moto                      2
18               Raising Superstars                      2
21                     Beyond Snack                      2
22   Vivalyf Innovations- Easy Life                      2
24                            Altor                      2
25                            Ariro                      2
27                          Nuutjob                      3
28                         Meatyour                      3
29                        EventBeep                      3
32                            Farda                      2
35                             LOKA                      3
36                            Annie                      3
37                        Caragreen                      2
38                  The Yarn Bazaar                      4
39                The Renal Project                      2
44                          Cocofit                      3
45                     Bamboo India                      2
47                     Beyond Water                      2
48                        Let's Try                      2
50                    Aas Vidyalaya                      3
58                          WeSTOCK                      4
64                       Get a Whey                      3
66                  The Quirky Nari                      2
67                   Hair Originals                      3
75                     The Sass Bar                      2
85               Watt Technovations                      4
88                         Humpy A2                      3
90         Gold Safe Solutions Ind.                      3
91                      Wakao Foods                      3
95                     Kabaddi Adda                      2
108                      Tweek Labs                      3
109                          Proxgy                      2
110              Nomad Food Project                      4
114                   Jain Shikanji                      4

# Q5. Episode wise minimum and maximum of sharks invested?

In [8]:
shark_Tank_Dataset[["brand_name","deal_amount"]].groupby(shark_Tank_Dataset["episode_number"]).max()

                                    brand_name  deal_amount
episode_number
1                          Heart up my Sleeves         75.0
2                                   Tagz Foods         70.0
3                                  Qzense Labs         75.0
4                                 JhaJi Achaar         75.0
5                           Shrawani Engineers        100.0
6                                  Skippi Pops        100.0
7                                     Torch-it        100.0
8               Vivalyf Innovations- Easy Life         56.0
9                              Kabira Handmade         50.0
10                                     Nuutjob         30.0
11                                  Gopal's 56         50.0
12                                    SweeDesi         75.0
13                             The Yarn Bazaar        105.0
14                           The Renal Project        100.0
15                                         PNT        100.0
16                                   Let's Try         75.0
17                                  RoadBounce        150.0
18                                        Otua          1.0
19                                     WeSTOCK         60.0
20                             The State Plate        100.0
21                             The Quirky Nari        100.0
22                              Poo de Cologne         60.0
23                                Urban Monkey         50.0
24                                The Sass Bar         50.0
25                         Sunfox Technologies        100.0
26                                 Rare Planet         65.0
27                          Watt Technovations        100.0
28                                Kunafa World        100.0
29                                 Wakao Foods         75.0
30                   Sippline Drinking Shields         80.0
31                                  Scrapshala         75.0
32                                Thea and Sid         50.0
33                                  Tweek Labs         60.0
34                                 Twee in One         40.0
35                                       Woloo         40.0

In [10]:
shark_Tank_Dataset[["brand_name","deal_amount"]].groupby(shark_Tank_Dataset["episode_number"]).min()

                              brand_name  deal_amount
episode_number
1                    BluePine Industries     25.00000
2                           Agro tourism      0.00000
3                                   NOCD      0.00000
4                                 Bummer      0.00000
5                           Hungry Heads      0.00000
6                                Hecolll      0.00000
7                          La Kheer Deli      0.00000
8                           Beyond Snack     30.00000
9                                  Altor      0.00000
10                             EventBeep     25.00000
11              ARRCOAT Surface Textures      0.00000
12                        Auli Lifestyle      0.00000
13                                 Annie     50.00000
14                  Good Good Piggy Bank      0.00000
15                               Cocofit      0.00005
16                          Bamboo India      0.00000
17                         Aas Vidyalaya      0.00000
18                             Anthyesti      0.00000
19                                 Ethik      0.00000
20                              Bakarmax      0.00000
21                            Get a Whey     25.00000
22                               Falhari      0.00000
23                        Guardian Gears      0.00000
24                           KG Agrotech      0.00000
25                                Alpino      0.00000
26                       Isak Fragrances      0.00000
27                   Aliste Technologies      0.00000
28              Gold Safe Solutions Ind.      0.00000
29                            PDD Falcon      0.00000
30                          Kabaddi Adda      0.00000
31                                Astrix      0.00000
32                       Experential Etc      0.00000
33                         Colour Me Mad      0.00000
34                         Green Protein      0.00000
35                          Elcare India      0.00000

# Q6. Minimum and Maximum sharks invested in each episode?total_sharks_invested

In [11]:
shark_Tank_Dataset[["brand_name","total_sharks_invested"]].groupby(shark_Tank_Dataset["episode_number"]).max()

                                    brand_name  total_sharks_invested
episode_number
1                          Heart up my Sleeves                      3
2                                   Tagz Foods                      1
3                                  Qzense Labs                      1
4                                 JhaJi Achaar                      2
5                           Shrawani Engineers                      2
6                                  Skippi Pops                      5
7                                     Torch-it                      2
8               Vivalyf Innovations- Easy Life                      2
9                              Kabira Handmade                      2
10                                     Nuutjob                      3
11                                  Gopal's 56                      2
12                                    SweeDesi                      3
13                             The Yarn Bazaar                      4
14                           The Renal Project                      2
15                                         PNT                      3
16                                   Let's Try                      2
17                                  RoadBounce                      5
18                                        Otua                      1
19                                     WeSTOCK                      4
20                             The State Plate                      5
21                             The Quirky Nari                      3
22                              Poo de Cologne                      3
23                                Urban Monkey                      1
24                                The Sass Bar                      2
25                         Sunfox Technologies                      5
26                                 Rare Planet                      1
27                          Watt Technovations                      4
28                                Kunafa World                      3
29                                 Wakao Foods                      3
30                   Sippline Drinking Shields                      2
31                                  Scrapshala                      1
32                                Thea and Sid                      1
33                                  Tweek Labs                      3
34                                 Twee in One                      4
35                                       Woloo                      4

In [14]:
shark_Tank_Dataset[["brand_name","total_sharks_invested"]].groupby(shark_Tank_Dataset["episode_number"]).min()

                              brand_name  total_sharks_invested
episode_number
1                    BluePine Industries                      2
2                           Agro tourism                      0
3                                   NOCD                      0
4                                 Bummer                      0
5                           Hungry Heads                      0
6                                Hecolll                      0
7                          La Kheer Deli                      0
8                           Beyond Snack                      1
9                                  Altor                      0
10                             EventBeep                      3
11              ARRCOAT Surface Textures                      0
12                        Auli Lifestyle                      0
13                                 Annie                      2
14                  Good Good Piggy Bank                      0
15                               Cocofit                      1
16                          Bamboo India                      0
17                         Aas Vidyalaya                      0
18                             Anthyesti                      0
19                                 Ethik                      0
20                              Bakarmax                      0
21                            Get a Whey                      1
22                               Falhari                      0
23                        Guardian Gears                      0
24                           KG Agrotech                      0
25                                Alpino                      0
26                       Isak Fragrances                      0
27                   Aliste Technologies                      0
28              Gold Safe Solutions Ind.                      0
29                            PDD Falcon                      0
30                          Kabaddi Adda                      0
31                                Astrix                      0
32                       Experential Etc                      0
33                         Colour Me Mad                      0
34                         Green Protein                      0
35                          Elcare India                      0

# Q7. Brand names who ask for 1 crore and got a deal?

In [16]:
shark_Tank_Dataset[["brand_name","pitcher_ask_amount","deal_amount"]][(shark_Tank_Dataset["deal_amount"]==100) &  (shark_Tank_Dataset["pitcher_ask_amount"]==100)]

             brand_name  pitcher_ask_amount  deal_amount
12          Revamp Moto               100.0        100.0
18   Raising Superstars               100.0        100.0
39    The Renal Project               100.0        100.0
64           Get a Whey               100.0        100.0
79  Sunfox Technologies               100.0        100.0
87   Insurance Samadhan               100.0        100.0

# Q8. Brand names where deal equity is between 0 to 50?

In [17]:
shark_Tank_Dataset[["brand_name","deal_equity"]][(shark_Tank_Dataset["deal_equity"]>0) & (shark_Tank_Dataset["deal_equity"]<50)]

              brand_name  deal_equity
0    BluePine Industries        16.00
2    Heart up my Sleeves        30.00
3             Tagz Foods         2.75
7              Peeschute         6.00
8                   NOCD        15.00
..                   ...          ...
106        Colour Me Mad        25.00
108           Tweek Labs        10.00
109               Proxgy        10.00
110   Nomad Food Project        20.00
114        Jain Shikanji        30.00

[62 rows x 2 columns]

# Q9. Find the number of brands participated in each episode?

In [23]:
df=shark_Tank_Dataset[["brand_name"]].groupby(shark_Tank_Dataset["episode_number"]).count()
dff=df.rename(columns={"brand_name":"no_of_Brand"})
dff

                no_of_Brand
episode_number
1                         3
2                         3
3                         3
4                         3
5                         3
6                         3
7                         3
8                         3
9                         3
10                        3
11                        3
12                        3
13                        3
14                        3
15                        3
16                        4
17                        4
18                        4
19                        4
20                        3
21                        3
22                        4
23                        4
24                        3
25                        3
26                        3
27                        4
28                        3
29                        3
30                        4
31                        4
32                        4
33                        4
34                        4
35                        3

# Q10. How many sharks participated in this show and What were their names?

In [26]:
shark_Tank_Dataset.columns

Index(['episode_number', 'pitch_number', 'brand_name', 'idea', 'deal',
       'pitcher_ask_amount', 'ask_equity', 'ask_valuation', 'deal_amount',
       'deal_equity', 'deal_valuation', 'ashneer_present', 'anupam_present',
       'aman_present', 'namita_present', 'vineeta_present', 'peyush_present',
       'ghazal_present', 'ashneer_deal', 'anupam_deal', 'aman_deal',
       'namita_deal', 'vineeta_deal', 'peyush_deal', 'ghazal_deal',
       'total_sharks_invested', 'amount_per_shark', 'equity_per_shark'],
      dtype='object')

In [32]:
shark_Tank_Dataset.iloc[0,11:18].count()

7

In [58]:
df=shark_Tank_Dataset.columns[11:18]
j=0
for i in df:
    print(i)
    j=j+1
print("total no. of sharks " , j)

ashneer_present
anupam_present
aman_present
namita_present
vineeta_present
peyush_present
ghazal_present
total no. of sharks 7

# Q11. Find appearance of each sharks?

In [68]:
df=shark_Tank_Dataset[["ashneer_present","anupam_present","aman_present","namita_present","vineeta_present","peyush_present","ghazal_present"]].sum()
dff=pd.DataFrame(df,columns=["sharks_appearence"])
dff

                 sharks_appearence
ashneer_present                 98
anupam_present                 117
aman_present                    98
namita_present                 106
vineeta_present                 66
peyush_present                  88
ghazal_present                  26

# Q12. How many entrepreneurs were present?

In [70]:
shark_Tank_Dataset[["brand_name"]].count()

brand_name    117
dtype: int64

# Q13. How many times each shark invested the deal?

In [71]:
shark_Tank_Dataset[["ashneer_deal","anupam_deal","aman_deal","namita_deal","vineeta_deal","peyush_deal","ghazal_deal"]].sum()

ashneer_deal    21
anupam_deal     24
aman_deal       28
namita_deal     22
vineeta_deal    15
peyush_deal     27
ghazal_deal      7
dtype: int64

# Q14. Find the equity percent that each sharks gets?

In [51]:
print("ashneer_deal " , shark_Tank_Dataset[["equity_per_shark"]][shark_Tank_Dataset["ashneer_deal"]==1].sum())
print("anupam_deal  ",shark_Tank_Dataset[["equity_per_shark"]][shark_Tank_Dataset["anupam_deal"]==1].sum())
print("aman_deal  ",shark_Tank_Dataset[["equity_per_shark"]][shark_Tank_Dataset["aman_deal"]==1].sum())
print("namita_deal  ",shark_Tank_Dataset[["equity_per_shark"]][shark_Tank_Dataset["namita_deal"]==1].sum())
print("vineeta_deal  ",shark_Tank_Dataset[["equity_per_shark"]][shark_Tank_Dataset["vineeta_deal"]==1].sum())

ashneer_deal  equity_per_shark    93.25
dtype: float64
anupam_deal   equity_per_shark    166.35
dtype: float64
aman_deal   equity_per_shark    160.263333
dtype: float64
namita_deal   equity_per_shark    134.783333
dtype: float64
vineeta_deal   equity_per_shark    131.533333
dtype: float64

# Q15. Find the total number of amount invested in this show?

In [24]:
[shark_Tank_Dataset["deal_amount"].sum()]

[3742.00106]